$dark-color : #040b14;
$menu-color : #a8a9b4;
$menu-color-hover : #fff;
$h2-color : #173b6c;
$dark-border : #1f5297;
$h2-after-color : #149ddd;
$h2-after-color-hover : #37b3ed;
$p-fact-color : #122f57;
$progress-bar-color : #dce8f8;
$white : #fff;
$link-a-hover: #37b3ed;