<section class="blog-content-area section-padding-100" id="competance">
	<div
		class="container">
		<!-- start portfolio -->
		<h3 class="h3_title">Compétance</h3>

		<div class="row justify-content-center">
			<div class="col-12 col-lg-12">
				<div class="sub_title">
					<h3>Formateur en développent web</h3>
				</div>
				<div class="content_comp">
					<div class="comp">
						<div class="comp_image img_simple">
							<img src="img/my_image/formateur2.jpg" class="img img-responsive" alt="fomateur2">
						</div>
					</div>
					<div class="comp">
						<div class="comp_description">
							<p>
								Depuis 2018 jusqu'à maintenant, je n'arrête pas d'enseigner tout ce je sais sur le monde du développement web.
								                                        J'enseigne le web design, utilisant photoshop, les langages informatiques tels que le HTML, CSS et un premier pas vers le monde du framework boostrap.
								                                        Puis le développement Front-end avec javascript et enfin le PHP qui est devenu mon langage de programmation préféré.
							</p>
						</div>
						<div class="link_contact">
							<a href="#contact">Me contacter</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-lg-12">
				<div class="sub_title" style="margin-top: 50px;">
					<h3>Développeur web &amp; Formateur</h3>
				</div>
				<div class="content_comp">
					<div class="comp demi_comp">
						<div class="comp_description">
							<p style="padding-right:15px; padding-left:0 !important;">
								Un autre passion un peu plus évidente que d'apprendre au gens la programmation informatique, j'ai aussi un très bon feeling sur la réalisation; que ce soit un site web ou application; sur mesure ou selon un cahier de charge déjà défini. Pour moi c'est une passion qui engendre un challenge à chaque fois que mes clients me demadent des services.
							</p>
						</div>
						<div class="link_contact link_contact_2">
							<a href="#contact">Me contacter</a>
						</div>
					</div>
					<section class="demi_comp">
						<div class="comp">
							<div class="comp_image img_double">
								<img src="img/my_image/formateur.jpg" class="img img-responsive double2 img-thumbnail" alt="fomateur2">
							</div>
						</div>
					</section>

				</div>
			</div>
		</div>
	</div>

</section>
