<footer class="footer-area">
	<div class="container">
		<div class="row">
			<div
				class="col-12">
				<!-- Footer Social Info -->
				<div class="footer-social-info d-flex align-items-center justify-content-center">
					<p style="color:#fff;">ANDRIANARISATA FENITRINIAINA
						<br>
						Développeur web et formateur en développement web</p>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-12"></div>
		</div>
	</div>
</footer>
