<section
			class="hero-area">
			<!-- Preloader -->
			<div class="preloader d-flex align-items-center justify-content-center">
				<div class="circle-preloader">
					<div class="a" style="--n: 5;">
						<div class="dot" style="--i: 0;"></div>
						<div class="dot" style="--i: 1;"></div>
						<div class="dot" style="--i: 2;"></div>
						<div class="dot" style="--i: 3;"></div>
						<div class="dot" style="--i: 4;"></div>
					</div>
				</div>
			</div>

			<div
				class="hero-post-slides owl-carousel">

				<!-- Single Hero Post -->
				<div
					class="single-hero-post d-flex flex-wrap">
					<!-- Post Thumbnail -->
					<div class="slide-post-thumbnail h-100 bg-img" style="background-image: url(img/my_image/formateur2.jpg);"></div>
					<!-- Post Content -->
					<div class="slide-post-content h-100 d-flex align-items-center">
						<div class="slide-post-text">
							<p class="post-date" data-animation="fadeIn" data-delay="100ms">Depuis Novembre 2018</p>
							<a href="#" class="post-title" data-animation="fadeIn" data-delay="300ms">
								<h2>Formateur en développement web</h2>
							</a>
							<p class="post-excerpt" data-animation="fadeIn" data-delay="500ms">
								Former des jeunes nouveaux bacheliers, des adultes qui ont l'envie d'opter sur les metiers du web. Donner le meilleur, le maximum possible pour que les étudiants puissent comprendre comment un site ou application web peut se mettre debout de a à z.
							</p>
							<a href="#" class="btn nikki-btn" data-animation="fadeIn" data-delay="700ms">Lire plus</a>
						</div>
						<!-- Page Count -->
						<div class="page-count"></div>
					</div>
				</div>

				<!-- Single Hero Post -->
				<div
					class="single-hero-post d-flex flex-wrap">
					<!-- Post Thumbnail -->
					<div class="slide-post-thumbnail h-100 bg-img" style="background-image: url(img/my_image/mac.jpg);"></div>
					<!-- Post Content -->
					<div class="slide-post-content h-100 d-flex align-items-center">
						<div class="slide-post-text">
							<p class="post-date" data-animation="fadeIn" data-delay="100ms">Depuis Mai 2018</p>
							<a href="#" class="post-title" data-animation="fadeIn" data-delay="300ms">
								<h2>Switcher du dev JAVA en structure de donnée vers du dev web sous PHP</h2>
							</a>
							<p class="post-excerpt" data-animation="fadeIn" data-delay="500ms">
								La marchée du dev web a pris plus d'importance et est dévenue la clée de réussite pour les autodidacts qui veulent travailler en freelance.
							</p>
							<a href="#" class="btn nikki-btn" data-animation="fadeIn" data-delay="700ms">Lire plus</a>
						</div>
						<!-- Page Count -->
						<div class="page-count"></div>
					</div>
				</div>

				<!-- Single Hero Post -->
				<div
					class="single-hero-post d-flex flex-wrap">
					<!-- Post Thumbnail -->
					<div class="slide-post-thumbnail h-100 bg-img" style="background-image: url(img/my_image/frameworks.png);"></div>
					<!-- Post Content -->
					<div class="slide-post-content h-100 d-flex align-items-center">
						<div class="slide-post-text">
							<p class="post-date" data-animation="fadeIn" data-delay="100ms">Depuis Mars 2020</p>
							<a href="#" class="post-title" data-animation="fadeIn" data-delay="300ms">
								<h2>Opter vers un contrat de travail plus sûr, durable dans le domaine du dev</h2>
							</a>
							<p class="post-excerpt" data-animation="fadeIn" data-delay="500ms">J'ai choisi de travailler dans un entreprise qui n'est pas trop dans le cadre d'entreprise "ESN" mais comme tout opportuniste je n'arrête jamais de viser encore plus haut pour bâtir un avenir encore plus meilleur</p>
							<a href="#" class="btn nikki-btn" data-animation="fadeIn" data-delay="700ms">Lire plus</a>
						</div>
						<!-- Page Count -->
						<div class="page-count"></div>
					</div>
				</div>

			</div>
		</section>