<section class="blog-content-area section-padding-100" id="portfolio">
	<div
		class="container">
		<!-- start portfolio -->
		<h3 class="h3_title">Portfolio</h3>

		<div class="row justify-content-center">
			<div class="col-12 col-lg-4">
				<div class="porf">
					<div class="capture_port">
						<a href="#">
							<img src="img/my_image/tranombarotra.PNG" class="img img-responsive" alt="crud app gestin portefeuille">
						</a>
					</div>
					<p class="sous_titre">
						Application web
					</p>
					<div class="small_desc">
						<p>
							Une application de gestion de paiement de marchandise. Cette application automatise les différentes tâches répétitives du gérant de l'entreprise.
						</p>
					</div>
					<div class="visit">
						<a href="tranombarotra.satagroup.mg">Aller sur le site</a>
					</div>
				</div>
			</div>

			<div class="col-12 col-lg-4">
				<div class="porf">
					<div class="capture_port">
						<a href="#">
							<img src="img/my_image/nirinfo.PNG" class="img img-responsive" alt="crud app gestin portefeuille">
						</a>
					</div>
					<p class="sous_titre">
						site web
					</p>
					<div class="small_desc">
						<p>
							Un site vitrine pour l'entreprise Nir'info. Un ancien collaborateur dans le domaine de formation professionnelle en dev web.
						</p>
					</div>
					<div class="visit">
						<a href="nirinfo.mg">Aller sur le site</a>
					</div>
				</div>
			</div>

			<div class="col-12 col-lg-4">
				<div class="porf">
					<div class="capture_port">
						<a href="#">
							<img src="img/my_image/sounds.PNG" class="img img-responsive" alt="crud app gestin portefeuille">
						</a>
					</div>
					<p class="sous_titre">
						application web
					</p>
					<div class="small_desc">
						<p>
							Cette application aide beaucoup des gérants d'hôtel au sein du groupe où je travaille actuellement à se communiquer entre eux. Pour des détails financières, des plans d'étude commercial et surtout économique.
						</p>
					</div>
					<div class="visit">
						<a href="dashboardsounds.com">Aller sur le site</a>
					</div>
				</div>
			</div>

			<div class="col-12 col-lg-4">
				<div class="porf">
					<div class="capture_port">
						<a href="#">
							<img src="img/my_image/comato.PNG" class="img img-responsive" alt="crud app gestin portefeuille">
						</a>
					</div>
					<p class="sous_titre">
						site web
					</p>
					<div class="small_desc">
						<p>
							un site web pour les divers services portuaires du groupe d'entreprise 'ENAC'
						</p>
					</div>
					<div class="visit">
						<a href="comagroupe.com">Aller sur le site</a>
					</div>
				</div>
			</div>


		</div>
	</div>
</section>
