<section class="blog-content-area section-padding-100" id="techno">
	<div
		class="container">
		<!-- start portfolio -->
		<h3 class="h3_title">Techno</h3>

		<div class="row justify-content-center">
			<section class="block_techno">
				<div class="techno">
					<div class="unite_tecno">
						<img src="img/my_image/html.jpg" alt="html">
					</div>
					<div class="techno_desc">
						<p>
							HTML pour le contenu du site
						</p>
					</div>
				</div>
				<div class="techno">
					<div class="unite_tecno">
						<img src="img/my_image/bootstrap.jpg" alt="html">
					</div>
					<div class="techno_desc">
						<p>
							Bootstrap pour accélérer un peu la réalisation du système de grille
						</p>
					</div>
				</div>
				<div class="techno">
					<div class="unite_tecno">
						<img src="img/my_image/sass.png" alt="html">
					</div>
					<div class="techno_desc">
						<p>
							SASS pour le style du contenu
						</p>
					</div>
				</div>
				<div class="techno">
					<div class="unite_tecno">
						<img src="img/my_image/js.jpg" alt="html">
					</div>
					<div class="techno_desc">
						<p>
							Javascript pour animer les éléments html
						</p>
					</div>
				</div>
				<div class="techno">
					<div class="unite_tecno">
						<img src="img/my_image/vue.jpg" alt="html">
					</div>
					<div class="techno_desc">
						<p>
							Vue.js si on veut réaliser un site en "single page"
						</p>
					</div>
				</div>
				<div class="techno">
					<div class="unite_tecno">
						<img src="img/my_image/php_logo.jpg" alt="html">
					</div>
					<div class="techno_desc">
						<p>
							PHP, mon langage informatique préféré pour le dev backend
						</p>
					</div>
				</div>
				<div class="techno">
					<div class="unite_tecno">
						<img src="img/my_image/sf.jpg" alt="html">
					</div>
					<div class="techno_desc">
						<p>
							Symfony, pour un maximum de rigueur avec php
						</p>
					</div>
				</div>
			</section>
		</div>
	</div>
</section>
