	{% include "sections/head-page.html.twig" %}
	<body>
		<!-- ##### Header Area Start ##### -->
		{% include "sections/header.html.twig" %}
		<!-- ##### Header Area End ##### -->

		<!-- ##### Hero Area Start ##### -->
		{% include "sections/hero.html.twig" %}
		<!-- #####  / Hero Area  ##### -->

		<!-- ##### portfolioa Start ##### -->
		{% include "sections/portfolio.html.twig" %}
		<!-- ##### / portfolioa  ##### -->

		<!-- compétance -->
		{% include "sections/competence.html.twig" %}

		<!-- techno -->
		{% include "sections/techno.html.twig" %}

		<!-- contact -->
		{% include "sections/contact.html.twig" %}

		<!-- ##### Footer Area Start ##### -->
		{% include "sections/footer.html.twig" %}
		<!-- ##### Footer Area Start ##### -->
		
		{% include "sections/scriptJs.html.twig" %}
	</body>

</html>
