.element-subtitle{
    padding-bottom: 30px;
    h2 {
        font-size: 32px;
        font-weight: bold;
        margin-bottom: 20px;
        padding-bottom: 20px;
        position: relative;
        color: $h2-color;
        opacity : 0;
        margin-left : 100px;
        &.animation-on{
            opacity : 1;
            margin-left : 0px;
            transition: all 1s ease-in-out;
        }
        &::after {
            content: "";
            position: absolute;
            display: block;
            width: 50px;
            height: 3px;
            background: $h2-after-color;
            bottom: 0;
            left: 0;
        }
    }
    p {
        margin-bottom: 0;
    }
}